 h1 {
    font-size: 2em;
    line-height: 1.5;
  }
   h2 {
    font-size: 1.5em;
    line-height: 1.4;
  }
   h3 {
    font-size: 1.17em;
    line-height: 1.3;
  }
   h4 {
    font-size: 1em;
    line-height: 1.2;
  }
   h5 {
    font-size: 0.83em;
    line-height: 1.1;
  }
   h6 {
    font-size: 0.67em;
    line-height: 1;
  }
   a {
    text-decoration: underline;
  }
   blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
  }
   code,
   pre {
    background-color: #f0f0f0;
    border-radius: 3px;
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
  }
   code {
    font-size: 85%;
    padding: 2px 4px;
  }

  table th {
    font-weight: 600;
    background-color: #f6f8fa;
  }
  
  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
  }
  
  table td>:last-child {
    margin-bottom: 0;
  }
  
  table tr {
    background-color: #ffffff;
    border-top: 1px solid hsla(210,18%,87%,1);
  }