 h1 {
    font-size: 2em;
  }
   h2 {
    font-size: 1.5em;
  }
   h3 {
    font-size: 1.17em;
  }
   h4 {
    font-size: 1em;
  }
   h5 {
    font-size: 0.83em;
  }
   h6 {
    font-size: 0.67em;
  }
   a {
    text-decoration: underline;
  }
   blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
  }
   code,
   pre {
    background-color: #f0f0f0;
    border-radius: 3px;
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
  }
   code {
    font-size: 85%;
    padding: 2px 4px;
  }